html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  vertical-align: middle;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.ghostdiv {
  border: 3px solid #000;
  border-radius: 8px;
  display: inline-block;
  padding: 0;
  margin: .5em;
}

div {
  padding: .5em;
  text-align: center;
}

.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  border-radius: 8px;
  padding: .5em;
}

.btn-primary {
  background-color: #333;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-ghost {
  background-color: #fff;
  color: #333;
}

.btn-warning {
  background-color: #f33;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #933;
}
